node_modules
dist
*.log
*.sqlite
*.csv
fabric-network/
certs/*
users.json

notes.txt

packages/authority/issued-licenses
packages/authority/keys/*
packages/server/authority_public_key/*
packages/drone/license/drone-license.json
packages/drone/drone-config.json